section{margin-top: 80px;}
section {width: 900px; margin: 30px auto; text-align: justify; font-size: 20px; line-height: 30px;}
section .imageDescription{}
section .imageDescription p{padding: 0; margin-top: 0; font-style: italic; color: #232323;}